@charset "UTF-8";

* {
   margin: 0px auto;
   padding: 0px;
   text-align: center;
   font-family: "Noto Sans KR", sans-serif;
}

body {
   background-color: #EEEEEE;
   padding: 20px;
}


h1 {
   margin-top: 50px;
   text-align: center;
}

h3 {
   margin-top: 10px;
   color: tomato;
   font-size: 2em;
}

.submit {
   background-color: white;
   border: 1px solid #222;
   border-radius: 10px;
   padding: 10px;
   width: 350px;	
}


button{
   margin-top: 10px;
   width: 70%;
   height: 50px;
   border: 0;
   outline: none;
   border-radius: 40px;
   background: linear-gradient(to left, rgb(242, 87, 135),
      rgb(255, 155, 47));
   color: white;
   font-size: 1.2em;
   letter-spacing: 2px;
   margin-bottom: 10px;
}

button:hover {
   opacity: 0.8;
}


